<nav class="nav">
    <header class="title-company">
        <h1 class="company">Transportes ACME S.A.</h1>
    </header>
    <ul class="menu">
        <a [routerLink]="['owners-drivers']" routerLinkActive="active" ><li class="menu-option">Ususarios</li></a>
        <a [routerLink]="['vehicles-list']" routerLinkActive="active" ><li class="menu-option">Vehiculos</li></a>
        <a [routerLink]="['register-vehicle-owner-driver']" routerLinkActive="active" ><li class="menu-option">Registrar Operacion</li></a>
    </ul>
</nav>
