:host {
    grid-column: 3/4;
    margin-top: 10rem;
    font-size: 1.6rem;
}

.btn-login {

    background-color: #4F0FFF;
}

.form-login {
     width: 300px;
    padding: 1rem;
    border: 1px solid #002761;
    border-radius: 1rem;
}